.App {

}

body {
  background-color: red;
}

a {
  color: gold;
  text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;}

a:hover {
  color: white;
}
